/*
Css Images
*/
table
{
    display: block;
    border: 1px;
    border-color: black;
    border: solid;
    background-color: white;
    padding:5px;
    margin-left:25%;
    margin-right: 25%;
}

tr
{
    text-align: center;
}

td
{   
    border:1px;
    border-color:black;
    border: solid;
    padding: 1cm;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

h3
{
    text-align: center;
}

p
{
    text-align: center;
}

#merchan
{
    height: 160px;
    width: 160px;

}

#Header
{   
   
    background-color: rgb(17, 12, 61);
    width: 100%;
    height: 100px;
    top:0;
    padding-top: 15px;
    color: aliceblue;
    
}

li
{
    text-decoration-style: none;
    display: inline-block;
    padding: 5px;
    text-align: center;
}

#menu
{
    text-align: center;
    font-size: 25px;
    color: azure;
    
}

#formulary
{
    width: 700px;
    position: relative;
    left: 33%;

}


#btnmenu
{
    background-color: rgb(212, 212, 212);
    height:50px;
    width: auto;
    margin:3px 10px 3px 10px;
    padding-top: 3px;
    border-radius: 0.3em;
    
}

#btnmenu button
{
    font-size: 22px;
    text-align: center;
    margin-left: 3px;

}

#sqldisplay
{
    
    border:1px solid black;
    border-radius: 0.3em;
    background-color: rgb(170, 228, 208);
    padding: 5px;
    width: auto;
    height: auto;
    margin-bottom: 5px;

}


#data-container
{
    background-color: rgb(173, 196, 188);
    width: auto;
    height: auto;
    margin: 3px 10px 3px 10px;
    padding: 3px;
}




#idsearchbox
{
    font-size: 25px;
    padding: 2px;
    width: 60px;
    height: 30px;
    text-align: center;
    
    
    border: 1px solid blue;
    
}

#customer-display
{
    font-size: 25px;
    margin: 3px 100px 3px 150px;
    width: 800px;
    height: 30px;
    text-align: center;
    background-color: white;
    border: 1px solid blue;
    color: black;
    
}
#customer-history
{
    font-size: 17px;
    margin: 10px 100px 3px 100px;
    text-align: center;
    background-color: rgba(53, 86, 136, 0.603);
    color: black;
    padding-left: 15px; 
    
}


.biglog
{
    color: rgb(247, 247, 247);
    font-size: 45px;
    text-shadow: 6px 3px 8px rgb(18, 38, 95);
}
#container
{
    display: block;
    width: 650px;
    margin: auto;
    margin-top: 150px;
    background-color: rgba(88, 129, 190, 0.301);
    padding: 20px;
    border-radius: 0.4em;
}


#bigfoot
{
    position:fixed;
    display: block;
    bottom: 0px;
    left: 0px;
    margin-top: 10px;
    background-color: rgba(17, 12, 61, 0.685);
    width: 100%;
    height: 130px;
    text-align: center;
    padding-top: 55px;
    font-size: 20px;
    color: aliceblue;
   
}

#sqlp
{
    text-align: left;

}

body
{
    
    margin:0px;
    padding: 0px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

   
}
#wrapper
{
    min-height: 100%;
    margin:0px;
    padding-bottom: 50px;
    overflow: visible;
}
html
{
    margin:0px;
    padding: 0px;
    
}
#dev
{
    margin-top: 10px;
    display: block;
    bottom: 0px;
    left: 0px;
    background-color: rgba(17, 12, 61, 0.685);
    width: 100%;
    height: auto;
    text-align: right;
    font-size: 30px;
    color: aliceblue;
}


